@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject PlayerAccount playerAccount

<div class="page pkmn-body h-100">
    <main>
        <div class="top-row justify-content-between px-4 pkmn-header border-0">
            <button class="btn pkmn-header" @onclick="ToggleNavMenu">
                <span class="bi bi-list h2"></span>
            </button>
            <h2>Nuzlocke & Soul Link Tracker</h2>

            <h4>
                @if (playerAccount.Username != null)
                {
                    @("Welcome ")@(playerAccount.Username)@("!")
                }
                else
                {
                    <a class="pkmn-link-blue" href="" @onclick="NavigateToLogin">Log in</a>
                    @(" | ")
                    <a class="pkmn-link-red m-0" href="" @onclick="NavigateToRegister">Register</a>
                }
            </h4>
        </div>


        @if (showNavMenu)
        {
            <div class="sidebar float-start col-2">
                <NavMenu />
            </div>
        }

        <article class="content float-start @(showNavMenu ? "col-10" : "w-100")">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool showNavMenu = false;

    private async Task ToggleNavMenu()
    {
        showNavMenu = !showNavMenu;

        await InvokeAsync(StateHasChanged);
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("register");
    }
}